* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow-x: hidden !important;
  }
  
  .navbar-brand {
    color:rgb(149, 123, 88) !important;
  }

  .nav-link {
    font-family: 'Handlee', cursive;
    color: rgb(149, 123, 88) !important;
  }
  
  .Jumbotron {
    background: url('img/wp.jpg');
  }

  .Educations {
    background: url('img/wp4.jpg');
    color: rgb(149, 123, 88) !important;
  }

  form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: rgb(149, 123, 88);
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #dbb391;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}

footer {
    background-color: rgb(149, 123, 88);
}